version: '3.9'

services:
  federated-corda-node-registration:
    environment:
      CORDA_ARGS: --initial-registration --network-root-truststore /tmp/network-truststore.jks --network-root-truststore-password trustpass
    env_file:
      - .env
    volumes:
      - './corda/certificates:/opt/corda/certificates'
      - './corda/node.conf:/etc/corda/node.conf'
      - './corda/network-truststore.jks:/tmp/network-truststore.jks'
    ports:
      - '10006:10006'
      - '10005:10005'
    container_name: federated-corda-node-registration
    image: 'corda/community:4.9.2-zulu-openjdk8'
    user: root
    profiles:
      - registration
    networks:
      - federated-node-net

  federated-corda-node-database-migration:
    environment:
      CORDA_ARGS: run-migration-scripts --core-schemas --allow-hibernate-to-manage-app-schema --config-file=/etc/corda/node.conf
    env_file:
      - .env
    volumes:
      - './corda/certificates:/opt/corda/certificates'
      - './corda/node.conf:/etc/corda/node.conf'
      - './corda/network-truststore.jks:/tmp/network-truststore.jks'
      - './corda/cordapps:/opt/corda/cordapps'
      - './corda/persistence-4.9.2-ce:/opt/corda/persistence'
    ports:
      - '10006:10006'
      - '10005:10005'
    container_name: federated-corda-node-migration
    image: 'corda/community:4.9.2-zulu-openjdk8'
    user: root
    profiles:
      - db
    networks:
      - federated-node-net

  federated-corda-node:
    env_file:
      - .env
    volumes:
      - './corda/certificates:/opt/corda/certificates'
      - './corda/node.conf:/etc/corda/node.conf'
      - './corda/network-truststore.jks:/tmp/network-truststore.jks'
      - './corda/cordapps:/opt/corda/cordapps'
      - './corda/database.properties:/opt/corda/database.properties'
      - './corda/ishare.properties:/opt/corda/ishare.properties'
      - './corda/persistence-4.9.2-ce:/opt/corda/persistence'
    ports:
      - '10006:10006'
      - '10005:10005'
    container_name: federated-corda-node
    image: 'corda/community:4.9.2-zulu-openjdk8'
    user: root
    profiles:
      - run
    networks:
      - federated-node-net

  federated-node-api:
    env_file:
      - .env
    volumes:
      - './api:/opt/api'
    ports:
      - '10050:10050'
    image: 'federatedbdi/federated-node-api:0.4.0'
    container_name: federated-node-api
    command: /bin/bash -c "java -Dspring.config.additional-location=file:/opt/api/config/ -Dserver.port=${springPort} -Dfederated.node.corda.rpc.host=${cordaHost} -Dfederated.node.corda.rpc.port=${cordaPort} -Dfederated.node.corda.rpc.username=${cordaUser} -Dfederated.node.corda.rpc.password=${cordaPassword} -Dfederated.node.graphdb.sparql.url=${graphdbSparqlUrl} -Dfederated.node.event.distribution.rules.list=${bdiEventDistributionRulesList} -Dfederated.node.event.distribution.rules.static.destinations=${bdiEventDistributionRulesStaticDestinations} -jar api.jar"
    profiles:
      - run
    networks:
      - federated-node-net
    restart: on-failure

  federated-graphdb:
    volumes:
      - './graphdb/repositories:/repository.init'
    ports:
      - '7200:7200'
    image: 'khaller/graphdb-free:10.2.1'
    container_name: graphdb
    profiles:
      - run
    networks:
      - federated-node-net

networks:
  federated-node-net: {}
